html,body{
  background-color: #12A5F4;
}
a{
  color:blue;
}
.Welcome{
  background-color: white;
  position: absolute;
  top: 38%;
  left: 35%;
  margin-top: -50px;
  margin-left: -50px;
  padding:1%;
  width: 40%;
  height: 30%;
  border: 1px solid ;

}
